body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 4em;
}

.calculadora {
    width: 392px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 3rem;
    background-color: #9c9c9c;
    border-radius: 30px;
}

.input {
    border-radius: 1px;
    height: 100px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    font-size: 2.5rem;
    overflow-x: auto;
    transition: all .2s ease-in-out;
    background-color: #5b721e;  
    border-radius: 10px;
    box-shadow: inset 8px 8px 8px #445517,
              inset -8px -8px 8px #5e751f;
}

.numbers {
    user-select: none;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1.5em;
}

.buttons {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
}

.buttonPair {
    display: flex;
    column-gap: 1.5em;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5em;
    height: 5em;
    background-color: #171717;
    border-radius: 5px;
}

.button {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 5.7em;
    height: 5.7em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #c7c3c0;
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px,
        #ffffff 1.5px 1.5px 2px 0px inset, #c7c3c0 -3.2px -3.2px 8px 0px inset;
    cursor: pointer;
    font-family: Montserrat;
    transition: 0.1s ease-in-out;
}

.buttonOperator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.7em;
    height: 5.7em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #545251;
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px,
        #a8a6a4 1.5px 1.5px 1px 0px inset, #545251 -3.2px -3.2px 8px 0px inset;
    cursor: pointer;
    font-family: Montserrat;
    transition: 0.1s ease-in-out;
}

.buttonDelete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.7em;
    height: 5.7em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #d42a02;
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px, #fb702c 2px 2px 10px 0px inset,
        #d42a02 -4px -4px 1px 0px inset;
    cursor: pointer;
    font-family: Montserrat;
    transition: 0.1s ease-in-out;
}

.buttonText {
    font-size: 2rem;
    font-weight: 900;
    color: #5f5f5f;
    fill: #5f5f5f;
    align-items: center;
    justify-content: center;
    transition: 0.1s ease-in-out;
}

.buttonTextOperator {
    font-size: 2rem;
    font-weight: 900;
    color: #fff;
    fill: #5f5f5f;
    align-items: center;
    justify-content: center;
    transition: 0.1s ease-in-out;
}

.buttonTextDelete {
    font-size: 2rem;
    font-weight: 900;
    color: #fff;
    fill: #5f5f5f;
    align-items: center;
    justify-content: center;
    transition: 0.1s ease-in-out;
}

.button:active {
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
        #c7c3c0 -3.2px -3.2px 8px 0px inset;
}

.button:active .buttonText {
    scale: 0.95;
}

.buttonOperator:active {
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
        #545251 -3.2px -3.2px 8px 0px inset;
}

.buttonOperator:active .buttonText {
    transform: translateY(0.5px);
}

.buttonDelete:active {
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
        #545251 -3.2px -3.2px 8px 0px inset;
}

.buttonDelete:active .button_text {
    transform: translateY(0.5px);
}

.analizadorLexico {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5em;
    padding: 3rem;
    background-color: #9c9c9c;
    border-radius: 10px;
    min-width: 450px;
    height: 580px;
    overflow: auto;
}

.textAnalizadorLexico {
    font-weight: 700;
    color: #3d3d3d;
}

.containerTextLexico {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: start;
    gap: 0.5em;
}

.arbolSintactico {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5em;
    padding: 3rem;
    background-color: #9c9c9c;
    border-radius: 10px;
    min-width: 450px;
}

.containerTextArbol {
    width: 600px;
    height: 500px;
}